.main {
  @media (min-width: 600px) {
    padding: 0 2.5rem;
  }
}

.inner {
  min-height: 100dvh;
  padding: 1rem 1.5rem;
  border-left: var(--border-dashed);
  border-right: var(--border-dashed);
}
