.footer {
  border-top: var(--border-dashed);
  @media (min-width: 600px) {
    padding: 0 2.5rem;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-left: var(--border-dashed);
  border-right: var(--border-dashed);
}

.inner div {
  font-size: 0.9rem;
}
